.infected {
  height: 5px;
  width: 100%;
  background-color: blue;
}

.recovered {
  height: 5px;
  width: 100%;
  background-color: #32a862;
}
.deaths {
  height: 5px;
  width: 100%;
  background-color: #e30910;
}

.counter {
  display: flex;
  align-items: baseline;
}

.confirmedDelta {
  margin-left: 10px !important;
  color: #e30910;
}

.recoveredDelta {
  margin-left: 10px !important;

  color: #32a862;
}
.deathsDelta {
  margin-left: 10px !important;
  color: #e30910;
}
